<div class="container mt-5">

	<button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#myModal">
	  Add Idea
	</button>

	<% @ideas.each do |idea| %>
	  <div class="panel panel-default">
	    <div class="panel-body">
		    <blockquote>
				<p><%= idea.description %></p>
		        <small>by <%= idea.author %></small>
		    </blockquote> 
		    <br>
			<div class="btn-group" role="group">
		        <%= link_to "Edit", edit_idea_path(idea.id), class: 'btn btn-info' %>
		        <%= link_to "Delete", idea_path(idea.id), method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure?"} %>
		    </div>
	    </div>
	  </div>
	<% end %>

	<%= render 'ideas/form' %>
</div>